env:
  PKG_PATH: /opt/local/var/macports/software
  qt5_subports: >
    qt5-qtbase
    qt5-qtdeclarative
    qt5-qtimageformats
    qt5-qtmacextras
    qt5-qtscript
    qt5-qttools
name: MacOSX 11+ universal release build
on:
  workflow_dispatch:
    inputs:
  #schedule:
  #  - cron: '0 3 * * 1' # run at 3 AM UTC every Monday
  repository_dispatch:
    types: [release]
jobs:
  build:
    runs-on: macos-11
    steps:
    - uses: melusina-org/gha-install-macports@v1
    #- name: Install MacPorts
    #  run: |
    #    curl -LO https://raw.githubusercontent.com/tuffnatty/macports-ci/hash-r-after-homebrew-removal/macports-ci
    #    source ./macports-ci install --remove-brew
    - name: Restore MacPorts packages cache
      uses: actions/cache/restore@v3
      with:
        path: ${{ env.PKG_PATH }}
        key: macports-pkgs-${{ matrix.variant }}-${{ github.sha }}
        restore-keys: macports-pkgs-${{ matrix.variant }}-
    - name: Restore ccache
      uses: actions/cache/restore@v3
      with:
        path: .ccache
        key: ccache-${{ matrix.variant }}-${{ github.sha }}
        restore-keys: ccache-${{ matrix.variant }}-
    #- name: Restore ccache
    #  uses: actions/cache/restore@v3
    #  with:
    #    path: ~/.macports-ci-ccache
    #    key: ccache-macports-${{ matrix.variant }}-${{ github.sha }}
    #    restore-keys: ccache-macports-${{ matrix.variant }}-
    #- name: Configure ccache
    #  run: |
    #    source ./macports-ci ccache
    - name: Install graphite2 deps
      run: |
        sudo port -Nkv install cmake py310-fonttools
    - name: Macports preparation
      run: |
        set -x
        sudo port install ccache
        mkdir -p .ccache
        tee -a /opt/local/etc/macports/macports.conf <<EOF
        startupitem_install no
        configureccache yes
        ccache_dir $GITHUB_WORKSPACE/.ccache
        ccache_size 1G
        EOF

        sudo port selfupdate
        #sudo port uninstall -Nv dbus
        #sudo port clean -Nv --dist dbus
        #sudo port install -Nv xz +universal gettext +universal
        #sudo port install -Nv dbus +universal || sudo port install -Nsv dbus +universal
        #sudo port install -Nv libxml2 +universal
        #sudo port install -Nv zlib +universal
    - run: env CCACHE_DIR=$GITHUB_WORKSPACE/.ccache sudo ccache -s
    - name: Save ccache
      uses: actions/cache/save@v3
      with:
        path: .ccache
        key: ccache-${{ matrix.variant }}-${{ github.sha }}-0
    - name: Install patched Portfiles
      run: |
        mkdir -p .ccache macports/aqua macports/graphics
        cd macports
        PORTS_SRC=$(echo /opt/local/var/macports/sources/*/macports/release/tarballs/ports)

        cp -rp $PORTS_SRC/aqua/qt5 aqua/

        ## https://github.com/macports/macports-ports/pull/16735
        cp -rp $PORTS_SRC/aqua/qt6 aqua/
        #curl -L https://github.com/macports/macports-ports/commit/62f0020772f9f68664e73e03b4355262b6024664.diff \
        #    | patch -p1
        #curl -L https://github.com/macports/macports-ports/commit/4b90c16bb66f0c43a2a57f342bc959f3e8422c00.diff \
        #    | patch -p1

        # graphite2
        cp -rp $PORTS_SRC/graphics/graphite2 graphics/
        patch -p1 <<'EOF'
        diff -ru a/graphics/graphite2/Portfile b/graphics/graphite2/Portfile
        --- a/graphics/graphite2/Portfile	2023-06-01 17:29:28.000000000 +0200
        +++ b/graphics/graphite2/Portfile	2023-06-16 22:58:10.000000000 +0200
        @@ -3,6 +3,7 @@
         PortSystem          1.0
         PortGroup           cmake 1.1
         PortGroup           github 1.0
        +PortGroup           muniversal 1.1
         
         github.setup        silnrsi graphite 1.3.14
         revision            0
        EOF
        #curl -L https://github.com/macports/macports-ports/commit/9b6aa0c40aa62f84094f2282dd5f8721455581a8.diff \
        #    | patch -p1

        portindex
        cd ..
        #source ./macports-ci localports macports
    #- name: Install graphite2 deps
    #  run: |
    #    sudo port -Nkv install cmake py310-fonttools
    - name: Install graphite2
      run: |
        cd macports/graphics/graphite2
        sudo port -Nkv install +universal
    #- name: Install graphite2
    #  run: |
    #    sudo port -Nkv install graphite2 +universal || true
    - name: Save MacPorts packages cache
      uses: actions/cache/save@v3
      with:
        path: ${{ env.PKG_PATH }}
        key: macports-pkgs-${{ matrix.variant }}-${{ github.sha }}-1
    - run: env CCACHE_DIR=$GITHUB_WORKSPACE/.ccache sudo ccache -s
    - name: Save ccache
      uses: actions/cache/save@v3
      with:
        path: .ccache
        key: ccache-${{ matrix.variant }}-${{ github.sha }}-1
    - name: Install Qt5 deps
      run: |
        set -x
        cd macports/aqua/qt5
        deps="$(for _p in $qt5_subports; do sudo port info --line --depends subport=$_p; done | tr '\t,' $'\n' | sort -u | grep -vE '^gettext|^qt5-|^xz')"
        sudo port -Nv install $deps
    - run: env CCACHE_DIR=$GITHUB_WORKSPACE/.ccache sudo ccache -s
    - name: Save ccache
      uses: actions/cache/save@v3
      with:
        path: .ccache
        key: ccache-${{ matrix.variant }}-${{ github.sha }}-2
    - name: Install Qt5
      run: |
        set -x
        cd macports/aqua/qt5
        for portname in $qt5_subports; do
          sudo port -Nkv clean subport=$portname
          sudo port -Nkv install subport=$portname +universal || break
          env CCACHE_DIR=$GITHUB_WORKSPACE/.ccache sudo ccache -s
          #sudo port -Nkv install subport=$portname +universal
        done
    #- name: Install Qt
    #  run: |
    #    cd macports/aqua/qt6
    #    for portname in \
    #        qt6-qtbase \
    #        qt6-qtscript \
    #        qt6-qttools \
    #        qt6-qtcompat
    #    do
    #      sudo port -Nkv install subport=$portname +universal || break
    #      #sudo port -Nkv install subport=$portname +universal
    #    done
    - name: Save final MacPorts packages cache
      uses: actions/cache/save@v3
      with:
        path: ${{ env.PKG_PATH }}
        key: macports-pkgs-${{ matrix.variant }}-${{ github.sha }}
    - name: Upload package artifact
      uses: actions/upload-artifact@v3.1.2
      with:
        name: qt5-packages-darwin_20.arm64-x86_64.zip
        path: ${{ env.PKG_PATH }}/qt5-qt*/*.tbz2
    - name: Save final ccache
      uses: actions/cache/save@v3
      with:
        path: .ccache
        key: ccache-${{ matrix.variant }}-${{ github.sha }}
